/* General style */
::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    align-content: none;
}


/* Aside section styles */

aside{
    width: 300px;
    background-color: aqua;
}


/* Home section styles */
