@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap');


/* General style */
::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    align-content: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;

}


/* Aside section styles */

aside{
    width: 270px;
    background-color: rgb(0, 0, 0);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    color: rgb(255, 235, 205);
    border-right: 1px solid rgb(122, 62, 62);
    padding: 30px;
    
}

aside .logo{
    
    padding: 30px 0;
}

aside .logo a{
    font-size: 30px;
    color: seashell;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;    
    position: relative;
    padding: 0 10px;
    line-height: 50px;
    
}

aside .logo a::before{
    content: '';
    height: 20px;
    width: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid red;
    border-left: 4px solid red;
}

aside .logo a::after{
    content: '';
    height: 20px;
    width: 20px;
   
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
}

aside nav{
    list-style: none;
    padding: 0;
    margin: 60px 0;
}
aside nav li {
    display: block;
}
aside nav li a{
    display: block;
    font-size: 16px;
    color: seashell;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.5;
    border-bottom: 1px solid rgb(122, 62, 62);
    -webkit-transition: all 0.5 ease-in-out;
    transition: all 0.5 ease-in-out;

}
aside nav li a:hover{
    padding-left: 5px;
    color: red;

}

aside nav li a .fa{
    margin-right: 10px;
}



aside .copyright-text{
    background-color: rgb(122, 62, 62);
}
.section{
    background-color: rgb(236, 200, 200);
    color: rgb(0, 0, 0);
    min-height: 100vh;
    display: block;


}

.content{
    padding-left: 270px;
}
/* Home section styles */
