/*  Arrangement done in order of appearance */

@import url(//fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap);
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Open Sans', sans-serif; 
 }

 html {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.5;
    overflow: hidden;
    
 }
 
 
